body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background: #FFF;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.form_wrapper {
    background: #fff;
    width: 1000px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 60px;
    margin: 8% auto 0;
    position: relative;
}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}
.form_wrapper label {
    font-size: 12px;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row>div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 100%;
    float: left;
}

.form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
}
.form_wrapper .input_field>span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 30px;
}

.form_wrapper .input_field>span>i {
    padding-top: 10px;
}

.form_wrapper .textarea_field>span>i {
    padding-top: 10px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="password"],
.form_wrapper input[type="date"],
.form_wrapper input[type="tel"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}
.form_wrapper input[type="address"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}
