body{
margin: 0;
padding: 0;
/*font-family: 'Ubuntu', sans-serif;*/

}
.post{
  background: transparent;
  background-position: center;
    text-align:center;
    background-color: #FFFFFF;
        width: 1000px;
        height: 100%;
        margin: auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sc{
    font-size: 40px;
    /*font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;*/

  }
  /*.main {
        
    }*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  
}
#myBtn:hover {
  background-color: #555;
}
.name{
height: 30px;
width: 400px;
border-radius: 10px;
}
.sign {
        padding-top: 40px;
        color: #261F55 ;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 45px;
    }
