body{
margin: 0;
padding: 0;
/*font-family: 'Ubuntu', sans-serif;*/

}
.post{
  background: transparent;
  background-position: center;
    text-align:center;
    background-color: #FFFFFF;
        width: 1000px;
        height: 100%;
        margin: auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sc{
    font-size: 40px;
    /*font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;*/

  }
  /*.main {
        
    }*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  
}
#myBtn:hover {
  background-color: #555;
}
.name{
height: 30px;
width: 400px;
border-radius: 10px;
}
.sign {
        padding-top: 40px;
        color: #261F55 ;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 45px;
    }
 .un {
    width: 50%;
    color: rgb(27, 30, 41);
    font-weight: 1000;
    font-size: 20px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 25%;
        margin-right: 25%;

    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
.remember {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E67E22  ;
        padding-top: 18px;
        font-size: 23px;
        font-family: 'Ubuntu', sans-serif;

    }
.save{
     cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #D35400, #E67E22);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        /*margin-left: 40%;*/
        margin-bottom: 50px;
        font-size: 33px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        align-items: center;
        
    
}
.container {

    display: flex;
    flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px;
  }
.part{
      flex-basis: 33.3%;
      margin: auto;
      text-align: center;
  }
 .headericon i{
      padding-left: 30px;
      font-size: 20px;
  }
.searchbar {
      float: left;
      /*background-color: #fff;*/
      letter-spacing: 1px;
      color: #000;
      padding: 6px 10px;
      width: 90px;
      border: none;
      margin: 2px 30px;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      border-bottom: white solid 2px;
      transition: 0.3s;
  }
.searchbar::placeholder {
      color: #262626;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      /* transition: 0.2s; */
  }
.searchbar:focus {
      width: 250px;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      transition: 0.3s;
      /* Stops the input box from inheriting the styling from the inputs on the request form */
      border-bottom: white solid 2px;
      outline: none;
  }
.btn-search {
      cursor: pointer;
      color: #262626;
      text-decoration: none !important;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1.5em;
      padding-top: 5px;
      margin-right: 10px;
  }
header{
      width: 100%;
      height: 50px;
      /*padding: 2px 0;    */
  }
  
  #nav{
      background-color: #ffF;
      
  }
#nav ul{
      position: relative;
      list-style: none;
  }
  #nav li{
      display: inline-block;
  }
  #nav a{
      text-decoration: none;
      padding: 12px 0;
      margin-left: 50px;
      color: #000;
      letter-spacing: 1px;
      font-family: 'Open sans', sans-serif;  
      font-size: 18px;
  
  }
#nav ul li a:hover{
      /*background-color: #fff;*/
      color: #1cc0a0;
      border-bottom: 2px solid #1cc0a0;
  }
  /* drop down */ 
  #nav .dropdown{
      position: absolute;
      margin-top: 7px;
      background-color: #fff;
      display: none;
      z-index: 30;
  }
.dropdown li:hover{
      background-color: #fff;
      
  }
  
  #nav li:hover > .dropdown, li:hover{
      display: block;
  }
